@charset "UTF-8";

header {
    padding: 10pt;
    border-top: none;
    border-bottom: 2px solid #181818;
}

i#burgerMenu {
    display: none;
}

nav {
    display: none;
}

header img {
    width: 220pt;
}

footer {
    display: none;
}
